div {
  background-color: rosybrown;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border: 10px solid #072A02;
  color: black;
  border-radius: 10px;
 }

 h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
}

h3 {
  font-family: "BenchNine", sans-serif;
  font-size: 30px;
  font-weight: bold;
  
}

.above {
  font-family: 'BenchNine', sans-serif;
  font-size: 20px;
  
}

ul {
  list-style-type: square;
  font-family: 'BenchNine', sans-serif;
  font-size: 25px;
}

.first-p {
  font-weight: bold;
}

  p {
  font-family: 'BenchNine', sans-serif;
  font-size: 20px;
}
