div {
  background-color: #F7F1CD;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border: 10px solid black
  ;
  color: black;
  border-radius: 10px;
 }

 h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  
}

.above {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  
}

ul {
  list-style-type: square;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: left;
}

.first-p {
  font-weight: bold;
}

  p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
body {
  text-align: center;
  text

}
